body.dark { background-color: #0c1319 !important; }
.wrapper.dark { background-color: #0b191c !important; }
.button.dark { background-color: #0a2520 !important; color: #6e8285 !important; }
span.p.dark { color: #6e8285 !important; }